*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  // Font size = 10rem
  font-size: 62.5%;
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;

  min-height: 100vh;

  background: linear-gradient(to right bottom,#4dabf7,#69db7c);
}
