.calculator {
  width: 30rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--color-gray-light-2);
  box-shadow: 0 0rem 3rem .5rem rgba($color: #d6d6d6, $alpha: .5);
  position: relative;

  &__options {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;

    margin-bottom: 1rem;

    .option {
      padding: 1rem;
      width: 4rem;
      height: 4rem;

      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }

  &__display {
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    text-align: right;
    letter-spacing: .3rem;
    background-color: var(--color-gray-light-1);
    
    font-family: 'digital';
    color: var(--color-text-2);

    &__input-history {
      background-color: inherit;
      border: none;
      width: 100%;
      margin-bottom: 1rem;

      color: inherit;
      font-family: inherit;
      font-size: 1.6rem;
      text-align: right;
      letter-spacing: inherit;

      outline: none;
    }

    &__resume {
      display: block;

      font-size: 4rem;
      overflow-x: auto;
    }
  }

  &__keypad {
    width: 100%;

    display: grid;
    grid-gap: .5rem;
    grid-template-rows:repeat(5, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
  }

  &__history {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    visibility: hidden;
    height: 70%;
    transform: translateY(20%) scale(.5);
    opacity: 0.5;
    
    background: rgba($color: #efefef, $alpha: 0.8);
    backdrop-filter: blur(2px);
    
    overflow: hidden;
    transition: all .2s ease-in, background-color 0s;
    
    &.active {
      transform: translateY(0%) scale(1);
      opacity: 1;
      visibility: visible;
    }

    &__content {
      height: 100%;
      overflow: auto;

      display: flex;
      flex-direction: column;
      padding: 1.5rem;
    }

    &__item {
      margin-left: auto;
      padding: 1rem;

      border: none;
      border-radius: .5rem;

      text-align: right;
      font-size: inherit;

      background-color: var(--color-white);
      color: var(--color-text-2);

      cursor: pointer;

      &:hover {
        filter: brightness(.9);
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &__delete.btn {
      position: fixed;
      left: 1.5rem;
      bottom: 1.5rem;

      background-color: var(--color-white);

      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__equal {
    grid-column: -2 / -1;
    grid-row: -3 / -1;
  }
}

html.dark-mode {
  .calculator {
    box-shadow: 0 0rem 3rem .5rem rgba($color: #0f1a24, $alpha: .5);

    &__history {
      background: rgba($color: #1f3447, $alpha: 0.8);
    }
  }
}

.btn {
  border: none;
  border-radius: .5rem;
  padding: 1.5rem 1rem;
  cursor: pointer;
  background-color: var(--color-gray-light-1);
  color: var(--color-text-2);
  fill: var(--color-text-2);
  font-size: inherit;
  line-height: 1;
  transition: filter .2s;

  &:hover,
  &:focus {
    filter: brightness(.95);
    outline: none;
  }

  &:active {
    filter: brightness(.8);
  }

  &-blue {
    background-color: var(--color-blue-1);
    color: var(--color-text-1);
    fill: var(--color-text-1);
  }

  &__icon {
    width: 1em;
    height: auto;
  }
}

html.dark-mode {
  .btn {
    &:hover,
    &:focus {
      filter: brightness(1.2);
      outline: none;
    }

    &:active {
      filter: brightness(1.4);
    }
  }
}

.option {
  &--theme {
    position: relative;

    .theme-light,
    .theme-dark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);

      transition: transform 0.2s;
    }

    &[data-theme='light'] {
      .theme-light {
        transform: translate(-50%, -50%) scale(0);
      }
    }

    &[data-theme='dark'] {
      .theme-dark {
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }
}

.tooltip {
  background-color: var(--color-gray-light-1);
  color: var(--color-text-2);
  padding: .8rem 1.6rem;
  border-radius: 5px;
  visibility: none;
  opacity: 0;
  transition: opacity .2s ease-out;

  &.bg-secondary {
    background-color: var(--color-white);
  }

  .arrow,
  .arrow::before {
    position: absolute;
    width: .8rem;
    height: .8rem;
    background: inherit;
  }

  .arrow {
    visibility: hidden;
  }

  .arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }
}

.tooltip[data-show] {
  visibility: visible;
  opacity: 1;
}

.tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -.4rem;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  top: -.4rem;
}

.tooltip[data-popper-placement^='left'] > .arrow {
  right: -.4rem;
}

.tooltip[data-popper-placement^='right'] > .arrow {
  left: -.4rem;
}
