.calculator {
  width: 300px;
  padding: .5rem;
  border-radius: .5rem;
  background-color: var(--color-gray-light-2);
  box-shadow: 0 1.5rem 3rem rgba($color: #d6d6d6, $alpha: .5);

  &__options {
    text-align: right;
    margin-bottom: 1rem;

    .btn {
      padding: 1rem;

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }

  &__visor {
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    text-align: right;
    background-color: var(--color-gray-light-1);
    
    font-family: 'digital';
    font-size: 4rem;
  }

  &__actions {
    width: 100%;

    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn {
  border: none;
  border-radius: .5rem;
  padding: 1.5rem 1rem;
  cursor: pointer;
  background-color: var(--color-gray-light-1);
  color: var(--color-gray-dark-1);
  font-size: inherit;

  &:hover,
  &:focus {
    filter: brightness(.95);
    outline: none;
  }

  &:active {
    filter: brightness(.8);
  }

  &-blue {
    background-color: var(--color-blue);
    color: var(--color-text-1);
  }

  &__icon {
    width: 1em;
    height: auto;
  }
}
